body {
    background: #FFFFFF;
}

.topnav {
    background-color: #808080;
    overflow: hidden;
}

.topnav  img {
    width: 150px;
    float: left;
}

.topnav  .logo {
    font-size: 40px;
    margin-left: 40px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

.topnav  ul {list-style: none}
.topnav  ul li {
    color: #00FFFF;
    display: inline;
    margin-top: 20px;
    margin-right : 3px;
    transition: transition .6s easy;
    float: left;
    text-align: center;
    padding: 10px 16px;
    padding-left: 85px;
    text-decoration: none;
    font-size: 20px;
}

.topnav  ul li:hover, topnav ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.4);
}

main .features{
    float: left;
    color: #000000;
    margin-top: 100px;
    padding-left: 21%;
    text-align: center;
    width: 75%;
}

main .features h1{font-size: 50px;}
main .features h1{max-width: 1000px; margin-left: 30px;}

