{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Новости{% endblock %}

{% block body_content %}
<div class="features">
    <h1>Новости</h1>
    {% for inter in news%}
    <div class="alert alert-warning">
        <h3>{{ inter.title }}</h3>
        <p>{{ inter.ad }}</p>
        <a href="{% url 'detail_news' 5 %}" class="button btn-warning">Подробнее</a>
    </div>
    {% endfor %}
    <a href="{% url 'create' %}">
        <button class="btn btn-warning">Добавить запись</button>
    </a>
    <br>
    <button class="btn btn-warning">Back on main page</button>
</div>

{% endblock %}