{% extends 'main/layout.html' %}

{% block title_content %}about{% endblock %}

{% block body_content %}
    <div class="features">
        <h1>About</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Eu facilisis sed odio morbi quis. Volutpat lacus laoreet non curabitur gravida arcu ac tortor
            dignissim. Semper risus in hendrerit gravida rutrum. Est velit egestas dui id ornare arcu odio ut sem.
            Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Semper viverra nam libero
            justo laoreet sit amet cursus sit. Amet consectetur adipiscing elit pellentesque habitant. Tellus
            pellentesque eu tincidunt tortor. Rhoncus mattis rhoncus urna neque viverra. Dictum fusce ut placerat orci
            nulla pellentesque. Sit amet nisl purus in mollis nunc sed id. Integer malesuada nunc vel risus.
            Mauris in aliquam sem fringilla ut morbi tincidunt augue. Lectus nulla at volutpat diam ut venenatis
            tellus in metus. Elit duis tristique sollicitudin nibh sit amet. Non pulvinar neque laoreet suspendisse.
            Lorem ipsum dolor sit amet consectetur. Ultrices dui sapien eget mi.
            Consequat interdum varius sit amet mattis vulputate.?</p>
        <button class="btn btn-warning">Back on main page</button>
    </div>
{% endblock %}